section#banner {
	background-attachment: fixed;
	background-image: url('//source.unsplash.com/random/2000x800');
	background-position: center center;
	background-size: cover;
}

.wrapper.style3 {
	background-color: #C8102E;
}