/* ---- VARIABLES ---- */

:root {
	--rocketred: #C8102E;
	--midred: #9D2235;
	--deepred: #76232F;
	--green: #13A48E;
}

/* -- MEDIA QUERIES -- */

@media screen and (max-width: 736px) {
	ul.cards li {
		display: block !important;
		margin-bottom: 30px;
	}
	.fact.card {
		margin-bottom: 60px !important;
	}
	ul.cards {
		margin: 0 !important;
	}
	ul.cards .myth {
		max-width: 100% !important;
		padding: 10px !important;
	}
	section#facts {
		overflow: hidden;
	}
}

@media screen and (max-width: 980px) {
	img.icon {
		display: block;
		max-width: 25px !important;
		max-height: 25px !important;
		width: auto;
		height: auto;
	}
	.headerLogo img {
		width: 120px !important;
		padding-top: 15px !important;
		transition: 0.3s;
	}
}


/* ---- FLEXBOX ---- */

ul.cards li, .card, .card .container, #header {
	display: flex;
}

ul.cards .fact, ul.cards .myth {
	align-items: center;
	flex: 1;
}


/* HEADERS */

.mythHeader {
	width: 100%;
	display: block;
	color: white;
	background: var(--rocketred);
	text-align: center;
}

/* ---- BACKGROUNDS ---- */

section#inquiries {
		background: 	radial-gradient(ellipse at top, var(--midred), transparent),
            		radial-gradient(ellipse at bottom, var(--deepred), transparent);
}

section#banner {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 50vh;
}

section#facts {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

section#banner .inner {
	background: rgba(0,0,0,0.5);
}

.wrapper.style3 {
	background-color: var(--rocketred);
}

.wrapper.style1 {
    background-color: var(--deepred);
}

.features li:before {
	color: #f7f7f7;
}

#facts {
	background-color: var(--midred) !important;
}

/* ---- IMAGE SIZING ---- */

/* HEADER LOGO */

#banner img.logo {
	max-width: 50vw;
	width: 600px;
}

#header {
	align-items: center;
	display: flex;
	height: 60px;
}

#header.alt {
	background: rgba(0,0,0,0.5);
}

#nav {
	flex: 1;
}

#header .headerLogo img {
	display: inline-block;
	flex: 1;
	margin-left: 5vw;
	padding-top: 20px;
	transition: 0.3s;
	width: 180px;
}

/* ---- MYTH LIST ---- */

ul.cards {
	max-width: 98%;
	margin: 10px auto;
	width: 1400px;
}

ul.cards li {
	color: black;
	padding: 10px 10px 0 10px;
}

ul.cards .myth p, ul.cards .fact p {
	flex: 1;
	display: block;
	letter-spacing: 0px;
	padding: 0 3%;
	margin: 0 !important;
}

ul.cards img.icon {
  	float: left;
  	display: block;
	max-width: 50px;
	max-height: 50px;
	height: auto;
	width: auto;
}

/* ---- MYTH & FACT LABELS ---- */

.myth p {
	display: block;
	float:  right;
}

.myth .bold {
	color: var(--rocketred);
}

.fact .bold {
	color: var(--green);
}

/* -- MYTH & FACT ICONS -- */

ul.cards .card {
	background-color: rgba(255,255,255,0.95);
	border-radius: 5px;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
	font-size: 1.2em;
	line-height: 1.3em;
	letter-spacing: 0px !important;
}

ul.cards .fact {
	border: 2px solid var(--green);
	float: right;
	margin: 10px;
	padding: 3%;
}

ul.cards .myth {
	border: 2px solid var(--rocketred) !important;
	font-weight: 600;
	max-width: 30%;
	margin: 10px;
	padding: 20px;
}

/* ---- MARGINS & PADDING ---- */

#inquiries .inquiry {
	margin-bottom: 100px;
}

#inquries .inquiry:last-of-type {
	margin-bottom: 0px;
}


/* ---- FONTS ---- */

body {
	font-family: RocketSans, sans-serif !important;
}

.bold {
	font-weight: 900 !important;
}

#inquiries p, .quoteAuthor {
	color:  #fff !important;
}

.quoteAuthor {
	font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: RocketSans;
    src: url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Bold.woff2) format("woff2"),url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Bold.woff) format("woff");
    font-weight: 700
}

@font-face {
    font-display: swap;
    font-family: RocketSans;
    src: url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Medium.woff2) format("woff2"),url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Medium.woff) format("woff");
    font-weight: 500
}

@font-face {
    font-display: swap;
    font-family: RocketSans;
    src: url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Regular.woff2) format("woff2"),url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Regular.woff) format("woff");
    font-weight: 400
}

@font-face {
    font-display: swap;
    font-family: RocketSans;
    src: url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Light.woff2) format("woff2"),url(https://www.rockomni.com/mcds/assets/GlobalContent/NonStockImages/Fonts/RocketSans-Light.woff) format("woff");
    font-weight: 300
}		