section#banner {
	background-attachment: fixed;
	background-image: url('http://lorempixel.com/1600/800/?blur=3');
	background-position: center center;
	background-size: cover;
}

body.ismobile.landing #banner {
	background-image: inherit;
}